<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
<!--    1.导入spring的坐标-->

<!--    2.配置bean  -->
    <bean id="bookDao" class="spring.dao.impl.BookDaoImpl"/>
    <bean id="bookService" class="spring.service.impl.BookServiceImpl"/>

</beans>